<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streamo</title>
    <link rel="stylesheet" href="static/css/index.css">
</head>
<!--Le commentaire a la con pour lucas :3-->
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <h2 href="index.html">Streamo</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Accueil</a></li>
                    <li><a href="search.html">Recherche</a></li>
                    <li><a href="#">Mes favoris</a></li>
                    <li><a href="profil.html">Profil</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content">
            <div class="featured">
                <div class="featured-image popup-trigger" data-info='{"title": "Devilman CryBaby", "year": "2017", "duration": "10 Episodes", "rating": "TV-MA", "description": "Devilman Crybaby est une série d animation ONA japonaise.", "actors": "Koki Uchiyama, Ayumu Murase, Griffin Burns", "director": "Masaaki Yuasa", "video": "devilmancrybaby.mp4"}'>
                    <img src="static/images/dmcb.jpg" alt="Devilman CryBaby">
                </div>
                <div class="featured-info popup-trigger" data-info='{"title": "Devilman CryBaby", "year": "2017", "duration": "10 Episodes", "rating": "TV-MA", "description": "Devilman Crybaby est une série d animation ONA japonaise.", "actors": "Koki Uchiyama, Ayumu Murase, Griffin Burns", "director": "Masaaki Yuasa", "video": "devilmancrybaby.mp4"}'>
                    <h1>Devilman CryBaby</h1>
                    <p>Devilman Crybaby est une série d'animation ONA japonaise réalisée par Masaaki Yuasa et écrite par Ichirō Ōkouchi.</p>
                    <div class="tags">
                        <span>SCI-FI</span>
                        <span>DRAMA</span>
                        <span>ADVENTURE</span>
                    </div>
                </div>
                <div class="next">
                    <h2>Saison 1</h2>
                    <p>10 épisodes</p>
                </div>
            </div>
            <div class="section continue-watching">
                <h2>Continue Watching :</h2>
                <div class="shows">
                    <div class="show popup-trigger" data-info='{"title": "Get Out", "year": "2017", "duration": "1h 44m", "rating": "16+", "description": "Un homme noir rend visite à la famille de sa petite amie blanche.", "actors": "Daniel Kaluuya, Allison Williams", "director": "Jordan Peele", "video": "getout.mp4"}'>
                        <img src="static/images/get_out.jpg" alt="Get Out">
                        <p>Get Out</p>
                    </div>
                    <div class="show popup-trigger" data-info='{"title": "Man of Steel", "year": "2013", "duration": "2h 23m", "rating": "13+", "description": "Clark Kent apprend qu il est un super-héros.", "actors": "Henry Cavill, Amy Adams", "director": "Zack Snyder", "video": "manofsteel.mp4"}'>
                        <img src="static/images/man_of_steel.jpg" alt="Man of Steel">
                        <p>Man of Steel</p>
                    </div>
                </div>
            </div>
            <div class="section new-on-streamo">
                <h2>Nouveautés sur Streamo</h2>
                <div class="movie-grid">
                    <div class="carousel">
                        <button class="carousel-arrow left-arrow">&lt;</button>
                    <div class="movie popup-trigger" data-info='{"title": "Nope", "year": "2022", "duration": "2h 10m", "rating": "16+", "description": "Les habitants d une petite ville sont témoins d un phénomène mystérieux.", "actors": "Daniel Kaluuya, Keke Palmer", "director": "Jordan Peele", "video": "Nope.mp4"}'>
                        <img src="static/images/nope.jpg" alt="Nope">
                        <div class="label">Ajout récent</div>
                        <p>Nope</p>
                    </div>
                    <div class="movie popup-trigger" data-info='{"title": "La Chronique des Bridgerton", "year": "2020", "duration": "8h", "rating": "16+", "description": "La chronique des familles de l aristocratie britannique.", "actors": "Phoebe Dynevor, Regé-Jean Page", "director": "Chris Van Dusen", "video": "LaChroniquedesBridgerton.mp4"}'>
                        <img src="static/images/bridgerton.jpg" alt="La Chronique des Bridgerton">
                        <div class="label">Nouvelle saison</div>
                        <p>La Chronique des Bridgerton</p>
                    </div>
                    <div class="movie popup-trigger" data-info='{"title": "Dr. Stone", "year": "2019", "duration": "24m", "rating": "13+", "description": "Un lycéen brillant réveille l humanité de la pétrification.", "actors": "Yûsuke Kobayashi, Manami Numakura", "director": "Shinya Iino", "video": "drstone.mp4"}'>
                        <img src="static/images/drstone.jpg" alt="Dr. Stone">
                        <div class="label">Nouvelle saison</div>
                        <p>Dr. Stone</p>
                    </div>
                    <div class="movie popup-trigger" data-info='{"title": "Paranoiak", "year": "2007", "duration": "1h 45m", "rating": "13+", "description": "Un adolescent sous surveillance électronique suspecte son voisin d être un tueur en série.", "actors": "Shia LaBeouf, David Morse", "director": "D.J. Caruso", "video": "paranoiak.mp4"}'>
                        <img src="static/images/batman.jpg" alt="Paranoiak">
                        <div class="label">Ajout récent</div>
                        <p>Batman : The Dark Knight</p>
                    </div>
                    <div class="movie popup-trigger" data-info='{"title": "Paranoiak", "year": "2007", "duration": "1h 45m", "rating": "13+", "description": "Un adolescent sous surveillance électronique suspecte son voisin d être un tueur en série.", "actors": "Shia LaBeouf, David Morse", "director": "D.J. Caruso", "video": "paranoiak.mp4"}'>
                        <img src="static/images/once_upon_a_time.jpg" alt="Paranoiak">
                        <div class="label">Ajout récent</div>
                        <p>Once Upon A Time In Hollywood</p>
                    </div>
                    <button class="carousel-arrow right-arrow">&gt;</button>
                </div>
                </div>
            </div>
            <div class="section recommended">
                <h2>On pense que vous allez adorer...</h2>
                <div class="movie-grid">
                    <div class="carousel">
                        <button class="carousel-arrow left-arrow">&lt;</button>
                    <div class="movie popup-trigger" data-info='{"title": "Barbare", "year": "2022", "duration": "1h 42m", "rating": "18+", "description": "Un thriller mystérieux se déroulant dans une maison isolée.", "actors": "Georgina Campbell, Bill Skarsgård", "director": "Zach Cregger", "video": "barbare.mp4"}'>
                        <img src="static/images/barbare.jpg" alt="Barbare">
                        <div class="label">Ajout récent</div>
                        <p>Barbare</p>
                    </div>
                    <div class="movie popup-trigger" data-info='{"title": "Paranoiak", "year": "2007", "duration": "1h 45m", "rating": "13+", "description": "Un adolescent sous surveillance électronique suspecte son voisin d être un tueur en série.", "actors": "Shia LaBeouf, David Morse", "director": "D.J. Caruso", "video": "paranoiak.mp4"}'>
                        <img src="static/images/paranoiak.jpg" alt="Paranoiak">
                        <div class="label">Ajout récent</div>
                        <p>Paranoiak</p>
                    </div>
                    <div class="movie popup-trigger" data-info='{"title": "Paranoiak", "year": "2007", "duration": "1h 45m", "rating": "13+", "description": "Un adolescent sous surveillance électronique suspecte son voisin d être un tueur en série.", "actors": "Shia LaBeouf, David Morse", "director": "D.J. Caruso", "video": "paranoiak.mp4"}'>
                        <img src="static/images/batman.jpg" alt="Paranoiak">
                        <div class="label">Ajout récent</div>
                        <p>Batman : The Dark Knight</p>
                    </div>
                    <div class="movie popup-trigger" data-info='{"title": "Paranoiak", "year": "2007", "duration": "1h 45m", "rating": "13+", "description": "Un adolescent sous surveillance électronique suspecte son voisin d être un tueur en série.", "actors": "Shia LaBeouf, David Morse", "director": "D.J. Caruso", "video": "paranoiak.mp4"}'>
                        <img src="static/images/once_upon_a_time.jpg" alt="Paranoiak">
                        <div class="label">Ajout récent</div>
                        <p>Once Upon A Time In Hollywood</p>
                    </div>
                    <div class="movie popup-trigger" data-info='{"title": "Paranoiak", "year": "2007", "duration": "1h 45m", "rating": "13+", "description": "Un adolescent sous surveillance électronique suspecte son voisin d être un tueur en série.", "actors": "Shia LaBeouf, David Morse", "director": "D.J. Caruso", "video": "paranoiak.mp4"}'>
                        <img src="static/images/pulp_fiction.jpg" alt="Paranoiak">
                        <div class="label">Ajout récent</div>
                        <p>Pulp Fiction</p>
                    </div>
                    <button class="carousel-arrow right-arrow">&gt;</button>
                </div>
            </div>
        </main>
    </div>
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <img src="#" alt="Movie Image" class="popup-image">
            <div class="popup-details">
                <h2 id="popup-title"></h2>
                <p id="popup-year"></p>
                <p id="popup-duration"></p>
                <p id="popup-rating"></p>
                <p id="popup-description"></p>
                <p id="popup-actors"></p>
                <p id="popup-director"></p>
            </div>
            <button class="popup-button watch">Regarder</button>
            <button class="popup-button download">Télécharger</button>
        </div>
    </div>
    <div id="videoPopup" class="video-popup">
        <div class="video-popup-content">
            <span class="video-close">&times;</span>
            <video id="videoPlayer" controls>
                <source id="videoSource" src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>    
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Streamo. Tous droits réservés.</p>
            <p>Conçu avec ❤️ par l'équipe Streamo</p>
            <p>
                <a href="#">Conditions d'utilisation</a> |
                <a href="#">Politique de confidentialité</a> |
                <a href="#">Nous contacter</a>
            </p>
        </div>
    </footer>    
    <script src="static/js/script.js"></script>
</body>
</html>
