<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streamo Films</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
    <div class="login-container">
        <form>
            <label for="email">Adresse mail</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" required>

            <label for="password">Confirmation du mot de passe</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Se connecter</button>

            <p>Pas encore de compte ? <a href="inscription.html">Créer vous un compte ici</a></p>
        </form>
    </div>
</body>
</html>
