<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streamo</title>
    <link rel="stylesheet" href="static/css/search.css">
</head>
<body>
    <header class="header">
        <form class="search-form">
            <input type="text" placeholder="Rechercher un film...">
            <button type="submit">Rechercher</button>
        </form>
    </header>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <h2 href="index.html">Streamo</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Accueil</a></li>
                    <li><a href="search.html">Recherche</a></li>
                    <li><a href="#">Mes favoris</a></li>
                    <li><a href="profil.html">Profil</a></li>
                </ul>
            </nav>
        </aside>
        <main class="content">
            <div class="section recommended">
                <div class="movie-grid">
                    <div class="movie popup-trigger" data-info='{"title": "Barbare", "year": "2022", "duration": "1h 42m", "rating": "18+", "description": "Un thriller mystérieux se déroulant dans une maison isolée.", "actors": "Georgina Campbell, Bill Skarsgård", "director": "Zach Cregger"}'>
                        <img src="static/images/barbare.jpg" alt="Barbare">
                        <div class="label">Ajout récent</div>
                        <p>Barbare</p>
                    </div>
                    <div class="movie popup-trigger" data-info='{"title": "Paranoiak", "year": "2007", "duration": "1h 45m", "rating": "13+", "description": "Un adolescent sous surveillance électronique suspecte son voisin d être un tueur en série.", "actors": "Shia LaBeouf, David Morse", "director": "D.J. Caruso"}'>
                        <img src="static/images/paranoiak.jpg" alt="Paranoiak">
                        <div class="label">Ajout récent</div>
                        <p>Paranoiak</p>
                    </div>
                    <div class="movie popup-trigger" data-info='{"title": "Paranoiak", "year": "2007", "duration": "1h 45m", "rating": "13+", "description": "Un adolescent sous surveillance électronique suspecte son voisin d être un tueur en série.", "actors": "Shia LaBeouf, David Morse", "director": "D.J. Caruso"}'>
                        <img src="static/images/batman.jpg" alt="Paranoiak">
                        <div class="label">Ajout récent</div>
                        <p>Batman : The dark night</p>
                    </div>
                    <div class="movie popup-trigger" data-info='{"title": "Paranoiak", "year": "2007", "duration": "1h 45m", "rating": "13+", "description": "Un adolescent sous surveillance électronique suspecte son voisin d être un tueur en série.", "actors": "Shia LaBeouf, David Morse", "director": "D.J. Caruso"}'>
                        <img src="static/images/once_upon_a_time.jpg" alt="Paranoiak">
                        <div class="label">Ajout récent</div>
                        <p>Once Upon A Time In Hollywood</p>
                    </div>
                    <div class="movie popup-trigger" data-info='{"title": "Paranoiak", "year": "2007", "duration": "1h 45m", "rating": "13+", "description": "Un adolescent sous surveillance électronique suspecte son voisin d être un tueur en série.", "actors": "Shia LaBeouf, David Morse", "director": "D.J. Caruso"}'>
                        <img src="static/images/pulp_fiction.jpg" alt="Paranoiak">
                        <div class="label">Ajout récent</div>
                        <p>Pulp Fiction</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <img src="#" alt="Movie Image" class="popup-image">
            <div class="popup-details">
                <h2 id="popup-title"></h2>
                <p id="popup-year"></p>
                <p id="popup-duration"></p>
                <p id="popup-rating"></p>
                <p id="popup-description"></p>
                <p id="popup-actors"></p>
                <p id="popup-director"></p>
            </div>
            <button class="popup-button">Regarder</button>
            <button class="popup-button">Télécharger</button>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Streamo. Tous droits réservés.</p>
            <p>Conçu avec ❤️ par l'équipe Streamo</p>
            <p>
                <a href="#">Conditions d'utilisation</a> |
                <a href="#">Politique de confidentialité</a> |
                <a href="#">Nous contacter</a>
            </p>
        </div>
    </footer>    
    <script src="static/js/script.js"></script>
</body>
</html>



