body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


nav ul li a:hover {
    color: #f40612;
}


.container {
    display: flex;
    flex: 1;
    height: auto; /* Permet à la hauteur d'être définie par le contenu */
}


.sidebar {
    position: fixed; /* Rend la barre latérale fixe */
    top: 0; /* L'aligne en haut de la fenêtre */
    left: 0; /* L'aligne à gauche de la fenêtre */
    width: 250px; /* Définit la largeur de la barre latérale */
    height: 100%; /* La fait occuper toute la hauteur de la fenêtre */
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #111;
    z-index: 1000; /* Assure que la barre latérale est au-dessus du contenu principal */
}




.logo h2 {
    color: white;
    text-align: center;
}


nav ul {
    list-style: none;
    padding: 0;
}


nav ul li {
    margin: 20px 0;
}


nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    margin-left: 290px;
}


.featured {
    display: flex;
    position: relative;
}


.featured img {
    width: 100%;
    height: auto;
}


.featured-info {
    position: absolute;
    bottom: 20px;
    left: 20px;
}


.featured-info h1 {
    margin: 0;
    font-size: 36px;
}


.featured-info p {
    font-size: 18px;
    max-width: 500px;
}


.tags span {
    background-color: #444;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}


.next {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}


.section {
    padding: 5px;
}


.continue-watching {
    margin-top: 10px;
    margin-bottom: -10px;
}


.continue-watching h2 {
    margin-bottom: 20px;
}


.shows {
    display: flex;
}


.show {
    margin-right: 20px;
}


.show img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}


.show p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
}


.new-on-streamo, .recommended {
    margin-bottom: 60px;
}


.new-on-streamo h2, .recommended h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


.carousel {
    position: relative;
    display: flex;
    align-items: center;
}


.carousel-arrow {
    position: absolute;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}


.left-arrow {
    left: 0;
}


.right-arrow {
    right: 0;
}


.movie-grid {
    display: flex;
    gap: 20px; /* Ajoute un espacement de 20px entre les films */
    scroll-behavior: smooth;
}


.movie-grid p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 50px;
}


.movie {
    position: relative;
    width: 200px;
    height: 300px;
    padding-right: 30px;
}


.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}


/* Styles pour la pop-up */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    width: 90%;
    max-width: 800px; /* Largeur maximale de la pop-up */
    height: 90vh; /* Hauteur de la pop-up égale à 90% de la hauteur de la fenêtre */
    overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
    padding: 20px;
    border-radius: 10px;
    z-index: 1000; /* Assure que la pop-up est au-dessus de tout le reste */
    display: none; /* Par défaut, la pop-up est masquée */
}


.popup-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aligne les éléments en haut */
    align-items: center;
    color: #fff;
}


.popup-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
}


.popup-image {
    width: 100%; /* Prend toute la largeur de la popup */
    height: 30vh; /* Hauteur égale à 30% de la hauteur de la vue */
    object-fit: cover; /* L'image couvrira toute la zone tout en conservant son aspect */
    margin-bottom: 20px;
}


.popup-details {
    text-align: left;
    width: 100%; /* S'assure que les détails prennent toute la largeur disponible */
    padding: 0 20px; /* Ajoute un peu de padding pour que le texte ne touche pas les bords */
}


.popup-details h2 {
    font-size: 24px;
    margin: 10px 0;
}


.popup-details p {
    font-size: 18px;
    margin: 5px 0;
}


.popup-button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}


.popup-button:hover {
    background-color: #f40612;
}


/* Styles pour le pied de page */
.footer {
    background-color: #111;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    padding-top: 20px;
}


.footer-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
}


.footer-content p {
    margin: 5px 0;
}


.footer-content a {
    color: #e50914;
    text-decoration: none;
}


.footer-content a:hover {
    text-decoration: underline;
}
